<div class="about-content">
  <h2>À propos de l'activité</h2>
  <p>
    Ce projet, mené par le CDSPT 49, est dédié aux personnes suivant le programme ETPO 
    (Éducation Thérapeutique du Patient en situation d’Obésité) encadré par le CHU 
    d’Angers. Nous voulons montrer que la pratique d’une Activité Physique ou Sportive 
    concerne tout le monde et qu’elle représente des intérêts pour la santé physique, 
    mentale et les facteurs psycho-sociaux. 
  </p>
  <p>
    Plus précisément, la randonnée est praticable en toute circonstance, qu’importe le 
    lieu et ne demandant pas d’apprentissage technique très important. Ses principaux 
    bienfaits en font une activité attrayante, parmi lesquels nous pouvons citer des 
    bénéfices à propos de l’amélioration de : l’équilibre statique et dynamique, 
    l’endurance musculaire, la concentration, l’orientation spatio-temporelle, le 
    bien-être psychique et les interactions sociales. <sup>1</sup>
  </p>
  <p>
    En outre, nous savons que l’un des facteurs de risque du surpoids et de l’obésité 
    est le manque d’activité physique. Mais pratiquer un minimum de 150 minutes 
    d’activité physique modérée par semaine contribue à perdre du poids. C’est 
    pourquoi cette randonnée permet d’identifier la pratique d’Activité Physique 
    à une conduite au profit de sa Santé ! <sup>2</sup>
  </p>
  <p>
    L’ensemble des expériences vécues durant cette marche sont sans doute des moments 
    forts et suscitant également un apprentissage au profit du Bien-Être de chacun : 
    par la préparation de nos repas en collectif, la visite de lieux culturels et 
    patrimoniaux, l’observation de paysages inhabituels ou simplement les liens 
    sociaux créés au cours de l’aventure !
  </p>
  <div class="reference-links">
    <a target="_blank" href="https://www.vidal.fr/sante/sport/infos-sport-medicosport-sante/37/randonnee-pedestre-rando-sante/"><sup>1</sup> Selon le MÉDICOSPORT-SANTÉ</a>
    <a target="_blank" href="https://www.inserm.fr/dossier/obesite/"><sup>2</sup> Selon l’Inserm</a>
  </div>
</div>