<div class="crowdfunding-content">
  <h2>Aidez nous à financer le site !</h2>
  <p>Afin de mettre en valeur le travail du développeur et de lui donner un coup de pouce dans la 
    réalisation de son tout premier projet, cette cagnotte permettrait de récolter des fonds pour 
    le rémunérer.
    L'évènement de marche bénéficierait alors d'un site, à un moindre coût, mais le Comité aura tout 
    de même la capacité de valoriser son créateur !</p>
  <button class="btn donation-btn">
    <a target="_blank" href="https://www.okpal.com/un-site-internet-pour-un-projet-sport-sante/?utm_campaign=01FXJ6VWT0WTF8GJ3ADAEHREQK&utm_medium=campaign_edit-okpuid_01FXJ6VWHPETAVSTE6GZQNQE3J-20220314&utm_source=share_directlink&fbclid=IwAR06gEwQm4V63CUYa67Jh9FQeALUp--Cyz0W1MB2IInFtX4SpZzHAXg26a8#/">
      Faire un don
    </a>
  </button>
</div>