<h4 class="contact">Contact</h4>
<div class="footer-content">
  <div>
    <p>Comité Départemental Sports Pour Tous 49</p>
    <p>7 RUE PIERRE DE COUBERTIN <br>
      MAISON DEPARTEMENTALE DES SPORTS<br>
      BP 43527 <br>
      49130 LES PONTS DE CE CEDEX <br>
    </p>
  </div>
  <div>
    <p>cd49@sportspourtous.org</p>
    <p>02 41 79 49 85</p>
  </div>
  <div>
    <a target="_blank" href="https://cd.sportspourtous.org/maine-et-loire">Site du Comité</a>
    <p>Copyright &copy; 2022 Margaleon</p>
  </div>
</div>