<div class="home-content">
  <h1>Ma Santé en Marche</h1>
  <h2>Description du projet</h2>
  <p>
    Le Comité Sports pour Tous 49 (CDSPT 49) est heureux de vous présenter 
    sa 4<sup>ème</sup> édition de Marche Itinérante : "Ma Santé en Marche 2022" ! De Chinon 
    à Saumur, ce sont près de 45 kilomètres que nous parcourons sur trois jours, 
    du 20 au 22 Avril 2022, au travers de paysages ruraux des bords de fleuve, 
    des vignobles ou encore des troglodytes de l’Indre-et-Loire et du Maine-et-Loire. 
  </p>
  <p>
    Cet évènement est à la fois un défi physique et mental personnel pour les participants, 
    mais également l’occasion pour chacun de vivre et partager une expérience en groupe en 
    partant à la découverte du patrimoine local. Ce sont en effet quinze personnes, pour 
    certaines ne se connaissant pas, qui se rassemblent pour cette édition.
  </p>
  <p>
    Au travers de ce site, nous souhaitons vous transmettre un message fort sur la pratique 
    d’une Activité Physique bénéfique pour la Santé et surtout accessible à tous. Nous 
    souhaitons aussi saisir l’occasion de partager les moments vécus lors de l’évènement. 
  </p>
  <p>
    Nous vous invitons donc durant la marche, à nous suivre à partir de la 
    <a href="#map" tabindex="-1">carte interactive</a> 
    indiquant en temps réel notre avancée sur le parcours. Pour vivre notre quotidien 
    "comme si vous y étiez" durant le séjour, vous pouvez également consulter notre 
    <a href="#logbook" tabindex="-1">journal de bord</a> 
    sur lequel nous partageons des publications et photos au fur et à mesure de notre avancée ! 
    Si vous souhaitez en savoir davantage sur les 
    <a href="#participants" tabindex="-1">personnes participant à l’évènement</a>, certaines 
    d’entre-elles ont bien voulu nous transmettre leur précieux témoignage et nous faire 
    part de leurs motivations, leurs objectifs ou encore leurs appréhensions sur 
    ce challenge. 
  </p>
</div>