<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Marche itinérante | Edit </title>
    
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <script src="https://kit.fontawesome.com/2f8670a614.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <section class="editor-section">
      <div class="editor-content">
        <h2>Éditer un Article</h2>

        <form action="/posts/<%= postID %>?_method=PUT" method="POST">
          <%- include("./partials/_formfields", {postData}); %>

          <input class="post-btn btn" type="submit" value="Edit Post">
        </form>

      </div>
    </section>

  </body>

</html>