<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Marche itinérante | Forgot Password</title>
    
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="https://kit.fontawesome.com/2f8670a614.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- header -->
    <header class="header">
      <a class="home-btn" href="/">accueil</a>
    </header>

    <!-- new password section -->
    <section class="login-section">
      <h2>Nouveau Mot de Passe</h2>
			<form action="/auth/reset-password" method="POST" class="login-form">
        <label for="email">
					<i class="fas fa-user"></i>
          <input type="text" name="email" placeholder="Email" id="email" required>
				</label>

				<label for="password">
					<i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Password" id="password" required>
				</label>

				<label for="password-confirm">
					<i class="fas fa-lock"></i>
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" id="passwordConfirm" required>
				</label>

				<input class="login-btn btn" type="submit" value="Envoyer">
			</form>
    </section>

    <!-- footer -->
    <footer class="footer" id="footer">
      <%- include("./partials/footer"); %>
    </footer>
  </body>

  <script src="../static/js/scripts.js"></script>


</html>